<!DOCTYPE html>
<html>
  <head>
    <title>Gatekeeper Client Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/pure-min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  </head>
  <body>
    <div id="main">
      <h1>Gatekeeper Client Example</h1>
      <h2><a href="http://tools.ietf.org/html/rfc6749#section-4.1" target="_blank">Authorization Code</a><br/></h2>
      The authorization code grant type is used to obtain both access tokens and refresh tokens and is optimized for
      confidential clients. Click the button below to begin the grant type.
      <a id="authcode" href="">
        <p>
          <a href="/login-with-bitcointrade" class="pure-button pure-button-primary">Login with BitcoinTrade</a>
        </p>
      </a>
    </div>
  </body>
</html>
