h1 {
  color: #505050;
  text-shadow: 2px 1px 3px rgba(200, 200, 200, 0.43);
  font-weight: normal;
}

body {
  background: whitesmoke;
  padding: 10px 20px 40px 20px;
}

a {
  text-shadow: 2px 1px 3px rgba(200, 200, 200, 0.43);
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 80%;
  color: #6464ff;
  text-decoration: none;
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;
}
